@model Praesidium.ViewModels.Admin.EditUserViewModel

<div class="edituser">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Local Login</h3>
            </div>
            <div class="panel-body">
                <form asp-route="Login">
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="@Model.Username">Username
                                <input class="form-control" value="@Model.Username" asp-for="@Model.Username" autofocus>
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Email">Email
                                <input class="form-control" value="@Model.Email" asp-for="@Model.Email">
                            </label>
                        </div>       
                        <div class="form-group">
                            <label asp-for="@Model.EmailConfirmed">Email confirmed
                                <input type="checkbox" class="form-control" value="@Model.EmailConfirmed" asp-for="@Model.EmailConfirmed">
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.LockoutEnd">Lockout end
                                <input type="datetime-local" class="form-control" value="@Model.LockoutEnd" asp-for="@Model.LockoutEnd" >
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.LockoutEnabled">Lockout enabled
                                <input type="checkbox" class="form-control" value="@Model.LockoutEnabled" asp-for="@Model.LockoutEnabled" >
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="@Model.PhoneNumber">Phone number
                                <input type="tel" class="form-control" value="@Model.PhoneNumber" asp-for="@Model.PhoneNumber">
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="@Model.PhoneNumberConfirmed">Phone number comfirmed
                                <input type="checkbox" class="form-control" value="@Model.PhoneNumberConfirmed" asp-for="@Model.PhoneNumberConfirmed" autofocus>
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="@Model.AccessFailedCount">Access failed count
                                <input type="number" class="form-control" value="@Model.AccessFailedCount" asp-for="@Model.AccessFailedCount" autofocus>
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary" name="button" value="login">Submit</button>
                            <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

